<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf=" login != null ; else elseBlockContent">
      <ion-button >
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Cuenta
      </ion-button>
    </ion-buttons>
    <ng-template #elseBlockContent>
      <ion-buttons slot="end">
        <ion-button (click)="loginFn()">
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
          login
        </ion-button>
      </ion-buttons>
    </ng-template>

    <ion-title>App Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf=" login ; else elseBlock">

<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button >
      <ion-icon slot="end" name="refresh-circle-outline"></ion-icon>
      Actualizar

    </ion-button>
  </ion-buttons>
</ion-toolbar>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="6" sizeXs="4">
          <ion-card color="primary">
            <ion-card-header *ngIf="resumenPed.pedidos_emitidos != 0 ; else elseBlock1">
              <ion-card-subtitle>Pedidos</ion-card-subtitle>
              <ion-card-title>{{resumenPed.pedidos_emitidos}}</ion-card-title>
            </ion-card-header>
            <ng-template #elseBlock1>
              <ion-card-header>
                <ion-card-subtitle>Aun no hay pedidos</ion-card-subtitle>
              </ion-card-header>
            </ng-template>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="6" sizeXs="4">
          <ion-card color="warning">
            <ion-card-header *ngIf="resumenPed.pedidos_enproceso != 0 ; else elseBlock2">
              <ion-card-subtitle>En Proceso</ion-card-subtitle>
              <ion-card-title >{{resumenPed.pedidos_enproceso}}</ion-card-title>
            </ion-card-header>

            <ng-template #elseBlock2>
              <ion-card-header>
                <ion-card-subtitle>Aun no hay cambios</ion-card-subtitle>
              </ion-card-header>
            </ng-template>

            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeLg="4" sizeMd="6" sizeXs="4">
          <ion-card color="success">
            <ion-card-header *ngIf="resumenPed.pedidos_completados != 0 ; else elseBlock3">
              <ion-card-subtitle>Completados</ion-card-subtitle>
              <ion-card-title >{{resumenPed.pedidos_completados}}</ion-card-title>
            </ion-card-header>

            <ng-template #elseBlock3>
              <ion-card-header>
                <ion-card-subtitle>Aun no hay cambios</ion-card-subtitle>
              </ion-card-header>
            </ng-template>

            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div>
    <ion-list>
      <ion-list-header>
        <ion-label>Ordenes listas</ion-label>
      </ion-list-header>
      <!-- <ion-item *ngIf="ped != null || undefined ; else elseBlockListo">
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
        <ion-label>
          <h2>Mesa: Mesa 2</h2>
          <h3>Mesero: 233</h3>
          <p>Orden: # 1233444</p>
        </ion-label>
      </ion-item> -->

      <div *ngIf="ped != null || undefined ; else elseBlockListo">
        <ion-item *ngFor="let item of ped" >
            <ion-icon  *ngIf="item.status == 'PEDIDO'"  slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-icon  *ngIf="item.status == 'en proceso'" slot="start" name="sync-outline" color="warning"></ion-icon>
            <ion-icon  *ngIf="item.status == 'completado'"  slot="start" name="checkmark-outline" color="success"></ion-icon>
            <!-- <div *ngSwitchCase="'PEDIDO'">
              <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            </div>
            <div *ngSwitchCase="'en proceso'">
              <ion-icon slot="start" name="sync-outline" color="warning"></ion-icon>
            </div>
            <div *ngSwitchCase="'completado'">
              <ion-icon slot="start" name="checkmark-outline" color="success"></ion-icon>
            </div> -->
          <ion-label>
            <h2>Mesa: {{item.nombre_mesa}}</h2>
            <h3>Status: {{item.status}}</h3>
            <p>Orden: # {{item.id}}</p>
          </ion-label>
        </ion-item>
      </div>

      <ng-template #elseBlockListo>
        <ion-item>
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>
            <h2>Las ordes listas aparaceran aqui</h2>
            <h3>Espera un poco ..</h3>
          </ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </div>



  <div>
    <ion-list>
      <ion-list-header>
        <ion-label>Mesas Ocupadas</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let mesa of mesas">
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        <ion-icon slot="end" name="checkmark-outline" *ngIf="mesa.status == 'libre'; else elseBlock" color="success"></ion-icon>
        <ng-template #elseBlock>
          <ion-icon slot="end" name="alert-outline" color="danger"></ion-icon>
        </ng-template>
        <ion-label>
          <h3>Mesa: {{mesa.nombre_mesa}}</h3>
          <p>Estatus: {{mesa.status}}</p>
        </ion-label>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ng-template #elseBlock>

<ion-content>
  <div id="container">
    <strong class="capitalize"></strong>
    <p>Inicia sesion para Operar en la plataforma <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

</ng-template>
