<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf=" login != null ; else elseBlock">
      <ion-button >
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Cuenta
      </ion-button>
    </ion-buttons>
    <ng-template #elseBlock>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
          login
        </ion-button>
      </ion-buttons>
    </ng-template>

    <ion-title>Adicionales </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Extras para tu orden </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">adicionales</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
